---
export const getStaticPaths = async () => {
	const allPosts = await Astro.glob("../../content/posts/*.md");
	console.log(allPosts);

	return allPosts.map((post) => ({
		params: {
			slug: post.frontmatter.slug,
		},
		props: {
			title: post.frontmatter.title,
		},
	}));
};

const { title } = Astro.props;
const { slug } = Astro.params;
---

<h1>{title}</h1>
<p>You are in page {slug}</p>
