<section>
	<article>
		<header>
			<div>
				<span>Jose David Villegas Aristizabal</span>
				<span>19 Años</span>
				<span>Guatapé - Antioquia (Colombia)</span>
			</div>
			<div class="social">
				<a href="https://github.com/JoseDv1">Github</a>
				<a href="https://www.linkedin.com/in/josedv1/"> LinkedIn</a>
				<a href="https://twitter.com/Jose_Dv1">Twitter</a>
				<a href="https://cvapp.es/r/O5AqfB4py" target="_blank"
					>Curriculum Vitae</a
				>
				<a href="mailto:jose@josedv.com"> jose@josedv.com</a>
				<a href="tel:+573103652785"><span>+57 3103652785</span></a>
			</div>
		</header>
		<div>
			<h1>Desarrollador Web</h1>
			<p>
				Estoy en busca de experiencia laboral y oportunidades para crecer
				profesionalmente. <br />
				 Soy alguien competitivo que busca siempre el mejor resultado posible en
				cada proyecto. Me adapto fácilmente a los cambios y a las nuevas ideas,
				y valoro la diversidad de opiniones y perspectivas. Me gustan los retos
				y me enfoco en lo que hago, siempre busco aprender y mejorar. Preparado
				para utilizar mis habilidades y pasión para impulsar la misión de una
				compañía. Aporto una actitud positiva, la voluntad y motivación
			</p>
		</div>
	</article>
	<img src="/Jose.webp" alt="JoseDv1" />
</section>

<style>
	a {
		color: var(--primary);
		text-decoration: none;
	}

	h1 {
		font-size: 2rem;
		margin-bottom: 0.5rem;
		font-weight: bold;
		text-align: center;
	}

	section {
		padding: 40px;
		border-radius: 50px;
		-wenkit-backdrop-filter: blur(5px);
		-moz-backdrop-filter: blur(5px);
		-o-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		background-color: rgba(255, 255, 255, 0.5);
		@apply shadow-lg;
		display: flex;
		gap: 2rem;
		justify-content: center;
		font-size: 1.5rem;
		width: 100%;
	}

	article {
		display: flex;
		flex-direction: column;
	}

	article > div {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	img {
		width: 100%;
		max-width: 400px;
		aspect-ratio: 1/1;
		align-self: center;
		border-radius: 50%;
		@apply shadow-lg;
		border: 1px solid var(--black);
	}

	.social {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	article h1 {
		margin-top: 1rem;
	}

	header :first-child {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		gap: 1rem;
	}

	@media (max-width: 1000px) {
		section {
			font-size: 1.2rem;
			display: flex;
			flex-direction: column-reverse;
			gap: 1.5rem;
		}

		img {
			width: 100%;
		}
	}

	@media (max-width: 500px) {
		h1 {
			font-size: 1.5rem;
		}

		.social {
			margin-top: 1rem;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
		}

		article {
			text-align: center;
		}
	}
</style>
