---
import Frame from "./Frame.svelte";
---

<section>
	<h2>Frameworks</h2>
	<div class="frameworks">
		<Frame img="/svelte.svg" title="Svelte" />
		<Frame img="/svelte.svg" title="SvelteKit" />
		<Frame img="/react.svg" title="React" />
		<Frame img="/postgreSQL.svg" title="PostgreSQL" />
		<Frame img="/supabase.svg" title="Supabase" />
		<Frame img="/flutter.svg" title="Flutter" />
		<Frame img="/firebase.svg" title="Firebase" />
		<Frame img="/git.svg" title="Git" />
		<Frame img="/github.svg" title="Github" />
		<Frame img="/next.svg" title="Next.js" />
		<Frame img="/express.svg" title="Express" />
		<Frame img="/bootstrap.svg" title="Bootstrap" />
		<Frame img="/css.svg" title="Css" />
		<Frame img="/html.svg" title="Html" />
		<Frame img="/javascript.svg" title="JavaScript" />
		<Frame img="/nodejs.svg" title="Node.js" />
	</div>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 1rem;
		font-size: 1.5rem;
	}
	.frameworks {
		width: 100%;
		padding: 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
</style>
