---
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    background-color: #656462;
    background-image: url("../public/images/background.jpg");
  }
</style>
